
UniversityAssignment/Parallel Programming/.vs/Parallel Programming/v16/.suo
UniversityAssignment/Parallel Programming/.vs/Parallel Programming/v16/Browse.VC.db
UniversityAssignment/Parallel Programming/.vs/Parallel Programming/v16/ipch/AutoPCH/3f9bd12c0ead38fd/MPI_SCATTER.ipch
UniversityAssignment/Parallel Programming/.vs/Parallel Programming/v16/ipch/AutoPCH/42b724f709638f1c/MPI_TYPEVECTOR.ipch
UniversityAssignment/Parallel Programming/.vs/ProjectSettings.json
UniversityAssignment/Parallel Programming/.vs/slnx.sqlite
UniversityAssignment/Parallel Programming/.vs/VSWorkspaceState.json
